body {
  background-color: #26272a;
  padding-top: 100px;
  color: white;
  font-size: 22px
}

.col-8.offset-5 {
font-size: 30px

}

.card-body {
background: #747474;
}

article {
  font-size: 22px
}

.karim {
  font-size: 1.4rem;
  font-weight: bold;
}

.card {
  background: grey;
  border-width: 2px;
  border-color: black;
}

.card-title {
  color: #b0ed6f;
  font-size: 40px
}

.black {
  font-size: 20px
}

.row h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
}

.row h1 {
  text-align: center;
  font-size: 40px;
  color: black;
}


.row p {
  text-align: center;
  font-size: 22px
}


#formli:hover {
  background-color: green;
}

#form:hover {
  background-color: blue;
}

#for:hover {
  background-color: purple;
}

#fo:hover {
  background-color: orange;
}

.border {
  border: 4px solid #000 !important;
}

.bleu1 {
  background-color: #393939;
}

.bleu2 {
  background-color: blue;
}

.green {
  background-color: green;
}

.progress {
  width: 60%;
}

.col.border {
  background-color: #393939;
}

p {
color: #6bf341;
font-style: Arial, sans-serif;
}

h1 {
font-style: italic;
margin-top: 13px;

}
#Compétences:target{
  padding-top: 3em; margin-top: -2em
}

#Loisirs:target{
  padding-top: 3em; margin-top: -2em
}

#job:target{
  padding-top: 3em; margin-top: -2em
}

#Formation:target{
  padding-top: 3em; margin-top: -2em
}

h5 {
font-style: oblique;


}
