body{
  background-color: #424b5a;
  padding-top: 100px;
  color: white;
  font-size: 22px

}
#col1{
  background-color:;

}

article{
  font-size: 22px
}

.karim {
  font-size: 1.4rem;
  font-weight: bold;
}

.card {
  background: grey;
  border-width: 2px;
  border-color: black;
}

.card-title{
  color: black;
  font-size: 40px
}

.black{
  font-size: 20px
}

.row h2{
	text-align: center;
	font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #F94;
}

.row h1{
  text-align: center;
  font-size: 40px

}

.row p{
  text-align: center;
  font-size: 22px
}


#formli:hover {
  background-color: green;
}

#form:hover {
  background-color: blue;
}

#for:hover {
  background-color: purple;
}

#fo:hover {
  background-color: orange;
}

#carouselExampleIndicators img{
  height: 200px;
  width: 100%;

}
